<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

<header>
    <% include ../../partials/header %>
</header>

<main>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <span class="navbar-brand"><%= form.title %></span>
        <a href="/ui/admin/user/create" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">
            <span class="fa fa-plus" aria-label="New"></span>
            New
        </a>
    </nav>
    <table class="table">
        <thead >
            <tr>
                <th>Full name</th>
                <th>Login</th>
                <th>E-mail</th>
                <th>Orgs</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% list.forEach(function(appUser) { %>
            <tr>
                <td><%= appUser.fullName %></td>
                <td><%= appUser.login %></td>
                <td><%= appUser.email %></td>
                <td>
                    <% appUser.orgs.forEach(function(org) {%>
                    <span class="badge badge-default badge-pill"><%= org.org_id %></span>
                    <% }); %>
                </td>
                <td>
                    <a href="/ui/admin/user/edit/<%- appUser.id %>" class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil-square-o" aria-label="Edit"></span>
                    </a>
                    <a href="/ui/admin/user/edit/<%- appUser.id %>/roles" class="btn btn-primary btn-sm">
                        <span class="fa fa fa-id-card" aria-label="Roles"></span>
                    </a>
                    <a onclick="deleteOrg('<%- appUser.id %>')" href="#" class="btn btn-danger btn-sm">
                        <span class="fa fa-trash-o" aria-label="Remove"></span>
                    </a>

                </td>

            </tr>
            <% }); %>
        </tbody>
    </table>
</main>

<footer class="footer">
<% include ../../partials/footer %>
    <script type="text/javascript">
        function deleteOrg(userId) {
            bootbox.confirm("Do you really wish to delete the user?", function(confirmed){
                if (confirmed) {
                    var config = {
                        headers: {"x-access-token": getTokenFromSessionStorage()},
                        url: "/admin/user/"+userId,
                        type : "delete",
                        success : function(result) {
                            window.location = '/ui/admin/user';
                        },
                        error: function(xhr, resp, text) {
                            bootbox.alert({
                                message: "Oh dear! Something went wrong",
                                size: 'small'
                            });
                        }
                    };
                    console.log(config);
                    $.ajax(config);
                }
            });
        }
    </script>
</footer>

</body>
</html>